<section class="artistpage">
	<div class="search">
		<h1>Artist Directory</h1>
		<label>search:</label>
		<input ng-model="query" placeholder="search for results" autofocus>
		<label class="formgroup">by:
			<select ng-model="artistOrder">
				<option value="name">Name</option>
				<option value="reknown">Reknown</option>
			</select>
		</label>

		<label class="formgroup">
			<input type="radio" ng-model="direction" name="direction" checked>
				Ascending</label>
				<label class="formgroup"><input type="radio" ng-model = "direction" name="direction" value="reverse">Descending
				</label>
		</div>
		<ul class="artistlist" ng-show="query">  
			<!-- loop in the item list using np-repeat = (item) in (collection) -->
			<!-- 		filter item using the value from input filed, provide the model name and use the name as filter below -->
			<li ng-animate="'animate'" class="artist cf" ng-repeat="item in artists | filter:query | orderBy: artistOrder:direction">
			<a href="#/details/{{artist.indexOf(item)}}">


				<!-- use ng-src while loading images so that it will wait till data is loaded -->
				<img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
				<div class="info">
					<!-- angular fliter using pipe | -->
					<!--<h2>{{item.name | uppercase}}</h2> -->
					<h2>{{item.name}}</h2>
					<h3>{{item.reknown}}</h3>
				</div>
</a>
			</li>
		</ul>

</section>